/* .arabic{
            font-family: Aclonica, sans-serif !important;

}
.english{
                font-family: Aclonica, sans-serif !important;

}

body[dir='rtl'] .MuiPaginationItem-previousNext{
    transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
}
.css-exd1zr     {
    display: none !important;
}
body[dir='rtl'] .css-hsi95o-MuiTableRow-root td{
    text-align: right;
}
body[dir='rtl'] .MuiTableCell-head,
body[dir='rtl'] .MuiTableCell-body{
    font-family: 'LamaSans-Medium' !important;
  
}

 */
 body {
     margin: 0 !important;
     padding: 0 !important;
     font-family: Arial, sans-serif;
    height: 100%;
        background-color: #070a29 !important;
            background-image: url('./assets/images/648a6bb39e2d83664cf29c45_Bg\ \(1\).png');
            background-position: 0 0;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 100% !important;
 }

 .preloader {
     position: fixed;
     z-index: 10;
     height: 100vh;
     width: 100%;
     left: 0;
     top: 0;
     display: flex;
     align-items: center;
     justify-content: center;
     background: transparent;
     z-index: 99999999999999;
 }

 .preloader svg {
     position: absolute;
     top: 0;
     width: 100vw;
     height: 110vh;
     fill: #000;
 }

 .preloader .preloader-heading .load-text {
     font-size: 25px;
     font-weight: 200;
     letter-spacing: 15px;
     text-transform: uppercase;
     z-index: 20;
     color: #FFF;
 }

 .load-text span {
     animation: loading 1s infinite alternate;
 }

 .load-text span:nth-child(1) {
     animation-delay: 0s;
 }

 .load-text span:nth-child(2) {
     animation-delay: 0.1s;
 }

 .load-text span:nth-child(3) {
     animation-delay: 0.2s;
 }

 .load-text span:nth-child(4) {
     animation-delay: 0.3s;
 }

 .load-text span:nth-child(5) {
     animation-delay: 0.4s;
 }

 .load-text span:nth-child(6) {
     animation-delay: 0.5s;
 }

 .load-text span:nth-child(7) {
     animation-delay: 0.6s;
 }

 @keyframes loading {
     0% {
         opacity: 1;
     }

     100% {
         opacity: 0;
     }
 }

 .app-content {
     position: relative;
     height:100vh;
     background: transparent;
     animation: red-bg-transition 2s ease-in-out forwards;
     -webkit-animation: red-bg-transition 2s ease-in-out forwards;
 }


 .app-content.transition-done {
     animation: none;
     background-color: #070a29;
     background-image: url('./assets/images/648a6bb39e2d83664cf29c45_Bg\ \(1\).png');
     background-position: 0 0;
     background-size: cover;
     background-repeat: no-repeat;
     height: 100%;
 }

 @keyframes red-bg-transition {
     0% {
         background: transparent;
         transform: translateY(100%);
         border-radius: 0 0 0 0;
         -webkit-border-radius: 0 0 0 0;
         -moz-border-radius: 0 0 0 0;
         -ms-border-radius: 0 0 0 0;
         -o-border-radius: 0 0 0 0;
     }

     50% {
         background-color: #070a29;
         background-image: url('./assets/images/648a6bb39e2d83664cf29c45_Bg\ \(1\).png');
         background-position: 0 0;
         background-size: cover;
         background-repeat: no-repeat;
         transform: translateY(0%);
         border-radius: 50% 50% 0 0;
         -webkit-border-radius: 50% 50% 0 0;
         -moz-border-radius: 50% 50% 0 0;
         -ms-border-radius: 50% 50% 0 0;
         -o-border-radius: 50% 50% 0 0;
     }

     100% {
         background-color: #070a29;
         background-image: url('./assets/images/648a6bb39e2d83664cf29c45_Bg\ \(1\).png');
         background-position: 0 0;
         background-size: cover;
         background-repeat: no-repeat;
         transform: translateY(0%);
         border-radius: 0 0 0 0;

     }
 }

 .arabic {
     font-family: Aclonica, sans-serif !important;

 }

 .english {
     font-family: Aclonica, sans-serif !important;

 }
html{
height: 100%;
}
/******************************/
/*****second section*****/
.section-header .section-title {
    font-size: 45px;
    background: #8750f7;
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(#8750f7),
            to(#fff));
    background: -o-linear-gradient(left,
            #8750f7 0%,
            #fff 100%);
    background: linear-gradient(to right,
            #8750f7 0%,
           #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-align: center;
    margin-bottom: 35px;
}
.services-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.services-section .section-header {
    margin-left: auto;
    margin-right: auto;
}

.services-widget>a {
    color: inherit;
    text-decoration: none;
}

.services-widget .service-item {
    border-bottom: 1px solid #2a1454;
    padding: 0 30px;
    position: relative;
    z-index: 2;
    gap: 20px;
    display: flex;
    color:#fff;
    cursor: pointer;
}

.services-widget .service-item .number {
    color: #8750f7;
    font-size: 27px;
    font-weight: 700 !important;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.services-widget .service-item.current .number {
    color: #fff;
}

.services-widget .service-item.current.mleave .number {
    color:#8750f7;
}

.services-widget .service-item:hover .number
{
    color: #fff;
}
.services-widget .service-item:hover h3{
    color: #fff;
}
.services-widget .service-item:hover .right-box{
    color: #fff;
}
.services-widget .service-item .left-box {
    width: calc(40% - 10px);
    padding: 30px 0;
    gap: 20px;
}

.services-widget .service-item .left-box .service-title {
    font-size: 30px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.services-widget .service-item .right-box {
    width: calc(60% - 10px);
    padding: 30px 0;
    padding-right: 15%;
}

.services-widget .service-item .right-box p:last-child {
    margin-bottom: 0;
}

.services-widget .active-bg {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    z-index: 1;
    background: #8750f7;
    background: -o-linear-gradient(190deg,
            #2a1454 0%,
            #8750f7 100%);
    background: linear-gradient(260deg,
           #2a1454 0%,
            #8750f7 100%);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.services-widget i {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 55px;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #8750f7;
}

.services-widget .service-item.current i {
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    color: #fff;
}

.services-widget .service-item.current.mleave i {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
    color: #8750f7;
}

.services-widget .service-item:hover i {
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    color: #fff;
}

.services-widget .service-item .service-link {
    border: none;
    padding: 0;
    margin: 0;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.service_details {
    padding: 0 40px 50px 40px;
}

.service_details_content .service_info .subtitle {
    font-size: 16px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #050709;
    margin-bottom: 10px;
}

.service_details_content .service_info .title {
    color: #050709;
    margin-bottom: 10px;
}

.service_details_content .service_info .desc {
    font-size: 16px;
    color: #0f0715;
    margin-bottom: 20px;
}

.service_details_content .service_info .desc p:last-child {
    margin-bottom: 0;
}

.service_details_content .service_info ul {
    padding: 0;
    margin: 0;
    list-style: none;
    columns: 2;
}

.service_details_content .service_info ul li {
    display: block;
    font-size: 16px;
    color: #0f0715;
    font-weight: 500;
    position: relative;
    z-index: 1;
    padding-left: 22px;
    margin-bottom: 5px;
}

.service_details_content .service_info ul li::before {
    content: "\f00c";
    font-weight: 500;
    color: #8750f7;
    position: absolute;
    left: 0;
    top: 0;
}

/********* end second section*******/
@media (min-width:0px) and (max-width:600px) {
/* services section */
    .services-widget .service-item {
        padding: 20px 15px;
        gap: 15px;
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
    }

    .services-widget .service-item .left-box {
        width: 100%;
        gap: 10px;
        padding: 0 25px 0 0;
    }

    .services-widget .service-item .left-box .service-title {
        font-size: 20px;
    }

    .services-widget .service-item .right-box {
        width: 100%;
        padding: 0;
    }

    .services-widget i {
        right: 20px;
        top: 20%;
        font-size: 15px;
    }

    .services-widget .active-bg {
        display: none;
    }

    .services-widget .service-item.current {
        background: linear-gradient(260deg,
                #8750f7 0%,
                #2a1454 100%);
    }
}

.portfolio_navigation {
    background-color: #8750f7;
    padding: 35px 50px;
margin-top: 50px;
    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 20px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.portfolio_navigation .navigation_item {
    max-width: calc(50% - 10px);
    width: 100%;
}

.portfolio_navigation .navigation_item .project {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    gap: 15px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-decoration: none;
}

.portfolio_navigation .navigation_item .project .i {
    font-size: 30px !important;
    line-height: 1;
    color: #fff !important;
    max-width: 30px !important;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: 10px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    stroke: #fff !important;
    fill: #fff !important;
}

.portfolio_navigation .navigation_item.prev-project .project .i {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio_navigation .navigation_item .project:hover .i {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.portfolio_navigation .navigation_item .project .nav_project .label {
    font-size: 16px;
    letter-spacing: 0.02em;
    display: block;
    color: #fff;
}

.portfolio_navigation .navigation_item .project .nav_project .title {
    font-size: 45px;
    margin: 0;
    color: #fff;
}

.portfolio_navigation .navigation_item.next-project {
    text-align: end;
}